.gpt3_brands{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.5rem ;
    margin-bottom: 1rem;
    flex-wrap: wrap;
}

.gpt3_brands div{
    flex : 1;
    min-width: 120px;
    max-width: 150px;
    margin: .5rem .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
